width: 34px;
height: 34px;
flex-shrink: 0;

<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.24998 3.80988L29.1276 28.6875L27.625 30.1901L2.74738 5.31248L4.24998 3.80988Z" fill="#21272A"/>
  <path d="M23.375 17C23.375 15.369 22.9892 13.8204 22.1963 12.2672L21.7148 11.3203L19.8209 12.2851L20.3037 13.2314C20.9405 14.4805 21.25 15.713 21.25 17C21.2496 17.2604 21.2356 17.5206 21.2081 17.7796L23.0224 19.5938C23.2544 18.7487 23.373 17.8764 23.375 17Z" fill="#21272A"/>
  <path d="M27.625 17C27.625 13.6007 26.7564 11.4292 25.3553 9.02729L24.82 8.10956L22.9846 9.18003L23.5198 10.0978C24.7742 12.248 25.5 14.0669 25.5 17C25.5 18.7219 25.2417 20.0687 24.7696 21.3383L26.3965 22.966C27.1728 21.2288 27.625 19.4185 27.625 17Z" fill="#21272A"/>
  <path d="M31.875 17C31.875 12.0687 30.5342 8.95753 28.5208 5.80323L27.949 4.90741L26.1561 6.05093L26.7278 6.94675C28.5427 9.78694 29.75 12.584 29.75 17C29.75 20.238 29.1258 22.5781 28.1018 24.6732L29.6756 26.2471C31.2215 23.3345 31.875 20.5195 31.875 17Z" fill="#21272A"/>
  <path d="M17 4.78125L12.1125 8.68461L17 13.5714V4.78125Z" fill="#21272A"/>
  <path d="M2.125 11.6942V22.3059H8.34395L17 29.2188V22.5536L6.14059 11.6942H2.125Z" fill="#21272A"/>
</svg>